:root{
    --mainColor:#eaeaea;
    --secondaryColor:#fff;
    --borderColor:#c1c1c1;
    --themeBorder:#24292e;
    --mainText:black;
    --secondaryText:#4b5156;
    --previewBg:rgb(251, 249, 243, 0.8);
    --previewShadow:#f0ead6;
    --btnColor:black;
}

html, body{
    padding: 0;
    margin: 0;
}

body *{
    transition: 0.6s;
}

h1,h2,h3,h4,h5,h6,strong{
    color:var(--mainText);
    /*font-family: 'Russo One';*/
    font-weight: 500;
}

p,li,span,label,input,textarea{
    color:var(--secondaryText);
    /*font-family: 'Roboto Mono';*/

}

a{
    text-decoration: none;
    color: #000708;
}

ul{
    list-style: none;
}
h1{font-size:56px;}
h2{font-size:36px;}
h3{font-size:28px;}
h4{font-size:24px;}
h5{font-size:20px;}
h6{font-size:16px;}

.s1{
    background-color: var(--mainColor);
    border-bottom:1px solid var(--borderColor);
    overflow: auto;
}

.s2{
    background-color: var(--secondaryColor);
    border-bottom:1px solid var(--borderColor);
    overflow: auto;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
    
}

.nav-wrapper{
    grid-area: nav-wrapper;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 5em;
    
}

.logo-wrapper{
    display: flex;
    padding: 10px;
}

.link-wrapper{
    margin: 0;
    padding: 10px;
}

.link-wrapper a{
    color:var(--mainText);
    font-size: 17px;
    padding: 5px;
    margin: 5px;
}

.link-wrapper li{
    display: inline-block;
}


nav{
    height: 80;
    width: 100%;
    background: var("--mainColor");
}

label.log{
    font-size: 35px;
    font-weight: bold;
    color: var("--mainText");
    padding: 0 100px;
    line-height: 80px;
}
nav ul{
    float: right;
    margin-right: 40px;
}

nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a{
    font-size: 18px;
    color: var("--mainText");
    text-transform: uppercase;
    padding: 7px 10px;
    border-radius: 3px;
}

a.active,a:hover{
    border: 1px solid white;
    transition: 5s;
}

nav #icon{
    color: rgb(10, 0, 0);
    line-height: 80px;
    font-size: 30px;
    float: right;
    cursor: pointer;
    margin-right: 80px;
    display: none;

}

@media (max-width:1200px){
    label.log{
        font-size: 32px;
        padding-left: 60px;
    }
    nav ul{
        margin-left: 0px;
    }

    nav a{
        font-size: 17px;
    }
}

@media (max-width:800px){
    nav #icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 330px;
        background: green;
        top: 70px;
        left: -120%;
        text-align: center;
        transition: .5s;
    }
    nav li{
        display: block;
        margin: 20px 0;
        line-height: 30px;
        left: 20px;
    }

    nav a{
        font-size: 20px;
    }
    a.active,a:hover{
        border: none;
        color:#000305;
    }
    nav ul.show{
        left: 0; 
    }
}













.user-profile-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,320px);
    min-height: 20em;
    gap: 60px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.left-columun{
}

.center-columun{
}

.right-columun{
}

.user-pic-and-identity{
    border:1px solid var(--borderColor);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.thumbnail{
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.user-identity{
    background-color: #fff;
    padding: 15px;
}

.identity-title{
    color: black;
    margin: 0;
}
.identity-intro{
    color:#4b5156;
    font-size: 16px;
}

#preview-shadow{
    background-image: url(../images/unnamed.jpg);
    width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;
}

.preview{
    width: 300px;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBg);
    padding: 15px;
    position: relative;
}

.corner{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px solid #17a2b8;
    background-color: #fff;
    position: absolute;

}

#corner-tl{
    top: -5px;
    left: -5px;
}

#corner-tl{
    top: -5px;
    left: -5px;
}

#corner-tr{
    top: -5px;
    right: -5px;
}

#corner-br{
    bottom: -5px;
    right: -5px;
}

#corner-bl{
    bottom: -5px;
    left: -5px;
}

.theme-options-wrapper{
    display: flex;
    justify-content: center;
}

.theme-dot{
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    margin: 5px;
    cursor: pointer;
    border:2px solid var(--themeBorder);
}

.theme-dot:hover{
    border-width: 5px;
}
#light-mode{
    background-color: #fff;
}
#blue-mode{
    background-color: #192732;
}
#green-mode{
    background-color: #78866b;
}

#purple-mode{
    background-color: #7E4C74;
}

.user-info-wrapper{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }




  #contact-form{
    grid-template-columns: repeat(auto-fit,320px);
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border:1px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mainColor);
    margin-bottom: 50px;
}

#contact-form label{
    line-height: 2.7em;
}

#contact-form label textarea{
    min-height: 100px;
    font-size: 14px;
}

.input-field{
    width: 100%;
    padding-top: 10px;
    margin-bottom: 10px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    border:1px solid var(--borderColor);
    font-size: 14px;

}

#submit-btn{
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border:none;
    color: #fff;
    background-color: var(--btnColor);
}



  .author-wrapper{
        grid-template-columns: repeat(auto-fit,320px);
        justify-content: center;
        align-items: center;
        text-align: center;
  }



    @media screen and (max-width:1200px) {
        .main-container{
            width: 95%;
            
        }
    }
    
    @media screen and (max-width:800px) {
        .user-profile-wrapper{
            padding-top: 15px;
            gap:20px;
        }
        /* .intro-wrapper{
            
            grid-template-columns: 1fr;
            grid-template-areas:
                'nav-wrapper'
                'left-wrapper'
                'right-wrapper';
        }
        .right-wrapper{
            justify-content: center;
        } */
    }

/* .greating-wrapper{
    display: grid;
    min-height: 10em;
    justify-content: center;
    align-items: center;
}

.intro-wrapper{
    background-color: var(--secondaryColor);
    border:1px solid var(--borderColor);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:'nav-wrapper nav-wrapper''left-wrapper right-wrapper';
    grid-template-rows: 3em 30em;
    border-radius: 5px 5px 0px 0px;
}

.nav-wrapper{
    grid-area: nav-wrapper;
    border-bottom:1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
    
}

.dots-wrapper{
    display: flex;
    padding: 10px;
}

.browser-dot{
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    margin: 5px;
}
#dot-1{
    background-color: #FC6058;
}

#dot-2{
    background-color: #FEC02F;
}

#dot-3{
    background-color: #2ACA3E;
}

.navigation{
    margin: 0;
    padding: 10px;
}

.navigation a{
    color:var(--mainText);
}

.navigation li{
    display: inline-block;
}
.left-wrapper{
    grid-area:left-wrapper;
    margin-top: 50px;
    margin-bottom: 50px;
}
#profile-pic{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border: 2px solid var(--borderColor);
    object-fit: cover;
}



#settings-nate{
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.right-wrapper{
    grid-area:right-wrapper;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;

}


.about-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 50px;
    padding-top: 50px;
    gap: 100px;
}

#skills{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
}

.social-link{
    display: grid;
    align-content: center;
    text-align: center;
}

#social-img{
    width: 100%;
}

.post-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    justify-content: center;
    gap: 20px;
    padding-bottom: 50px;
}

.post{
    border:1px solid var(--borderColor);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.thumbnail{
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.post-priview{
    background-color: #fff;
    padding: 15px;
}

.post-title{
    color: black;
    margin: 0;
}
.post-intro{
    color:#4b5156;
    font-size: 16px;
}
} */